header {
  background: linear-gradient(to bottom left, #020804 40%, #7cc087 100%);
  color: #C5E3BF; /* light green */
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #C5E3BF; /* light green */
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav a:hover {
  color: #FFFFFF; /* white */
}